<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Details</title>
    <link rel="stylesheet" href="/clients/client-details.css">
</head>
<body>
    <%- include('../navbar') %>
    <h1><%= foundClient.clientName %> Details</h1>
    <div id="Client">
            <h2>Name: <%= foundClient.clientName %></h2>
            <h2>Email: <%= foundClient.email %></h2>
            <h2>Phone: +973 <%= foundClient.phone %></h2>

    </div>
    
    <form action="/clients/delete/<%= foundClient._id %>" method="post">
        <button class="delete-client-button">Delete</button>
    </form>
    <a class="edit-client-button" href="/clients/update/<%= foundClient._id %>">Edit</a>
</body>
</html>