<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sessions</title>
    <link rel="stylesheet" href="/sessions/all-sessions.css">
</head>
<body>
    <%- include('../navbar') %>
    <h1>Session List</h1>
    <% allSessions.forEach(oneSession => { %>
        <div id="Session">
            <h2>Date: <%= oneSession.date %></h2>
            <h2>Location: <%= oneSession.location %></h2>
            <h2>Price: <%= oneSession.price %>BD</h2>
            <h2>Payment Status: <%= oneSession.paymentStatus %> </h2>
            <h2>Notes: <%= oneSession.notes %></h2>
            <h2>Status: <%= oneSession.status %> </h2>
            <a class="details-button" href="/sessions/<%= oneSession.id %>">See Details</a>
        </div>
    <% }); %>
    <a class="add-session-button" href="/sessions/new">Add New Session</a>
</body>
</html>