<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Details</title>
    <link rel="stylesheet" href="/sessions/session-details.css">
</head>
<body>
    <%- include('../navbar') %>
    <h1>Session Details</h1>
    <div id="Session">
            <h2>Date: <%= foundSession.date %></h2>
            <h2>Location: <%= foundSession.location %></h2>
            <h2>Price: <%= foundSession.price %>BD</h2>
            <h2>Notes: <%= foundSession.notes %></h2>
        <div id="buttons">
            <form action="/sessions/delete/<%= foundSession._id %>" method="post">
                <button class="delete-session-button">Delete</button>
            </form>
            <a class="edit-session-button" href="/sessions/update/<%= foundSession._id %>">Edit</a>
        </div>
    </div>


</body>
</html>