<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Session</title>
    <link rel="stylesheet" href="/forms/forms.css">
</head>
<body>
    <%- include('../navbar') %>
    <h1>Edit Session</h1>
    <form action="/Sessions/update/<%= foundSession.id %>" method="post">
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" value="<%= foundSession.date %>">

        <label for="location">Location:</label>
        <input type="text" name="location" id="location" value="<%= foundSession.location %>">

        <label for="price">Price:</label>
        <input type="number" name="price" id="price" value="<%= foundSession.price %>">

        <label for="pStatus">Payment Status:</label>
        <select name="paymentStatus" id="pStatus">
            <option value="select">Select</option>
            <option value="Payed">Payed</option>
            <option value="Not Payed">Not Payed</option>
        </select>        

        <label for="notes">Notes:</label>
        <input type="text" name="notes" id="notes" value="<%= foundSession.notes %>">

        <label for="status">Session Status:</label>
        <select name="status" id="status">
            <option value="select">Select</option>
            <option value="Upcoming">Upcoming</option>
            <option value="Completed">Completed</option>
            <option value="Cancelled">Cancelled</option>
        </select>

        <button>Submit</button>
    </form>
</body>
</html>